h1 {
    color: goldenrod;
}

.message {
    border: 3px solid green;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0px;
    background-color: lightgray;
    color: green;
    font-size: larger;
}