h1 {
    color:red;
}

.blog {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px;
}

.title {
    font-weight: bold;
}

.author {
    font-style: italic;
}

.url a:link, a:visited {
    color: orange;
}

.url a:hover {
    color: lightcoral;
}

.likes {
    color: green;
}

.notification {
    font-size: 120%;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
}

.notification.warning {
    color:red;
    border: 2px solid red;
}

.notification.info {
    color:green;
    border: 2px solid green;
}